SPRING_DATASOURCE_URL=
SPRING_DATASOURCE_USERNAME=
SPRING_DATASOURCE_PASSWORD=
JWT_SECRET=
MAILJET_ENABLED=
MAILJET_APIKEY=
MAILJET_APIKET=
MAILJET_SECRETKEY=
CONTACT_TO_EMAIL=

SUPABASE_URL=
SUPABASE_STORAGE_KEY=
